.adsgram-task {
    --adsgram-task-font-size: var(--heroui-font-size-medium); /* Font size of the title */
    --adsgram-task-icon-size: 40px; /* Icon size */
    --adsgram-task-icon-title-gap: 0.75rem; /* Gap between the icon and the title */
    --adsgram-task-icon-border-radius: 50%; /* Border radius of the icon */
    --adsgram-task-button-width: 5rem; /* Width of the button for completing the task */
}