@tailwind base;
@tailwind components;
@tailwind utilities;

// :root {
//     --background: #ffffff;
//     --foreground: #171717;
// }

// @media (prefers-color-scheme: dark) {
//     :root {
//         --background: #0a0a0a;
//         --foreground: #ededed;
//     }
// }

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

button.disabled {
    opacity: 0.5;
    cursor: unset;
}

.hidden {
    display: none;
}

.page-content {
    padding: 20px 0;
}