@tailwind base;
@tailwind components;
@tailwind utilities;

// :root { //.light:root
//     --background: #ffffff;
//     --foreground: #171717;
// }
// @media (prefers-color-scheme: dark) {
//     :root {
//         --background: #0a0a0a;
//         --foreground: #ededed;
//     }
// }

:root {
    --background: hsl(var(--heroui-background));
    --foreground: hsl(var(--heroui-foregroung));

    body {
        background: radial-gradient(circle, rgba(17,0,107,1) 0%, rgba(0,0,0,1) 200px);
        background-attachment: fixed;
    }
}
.light:root {
    body {
        background: var(--background);
    }
}

html, body {
    min-height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.btn-border-shadow {
    box-shadow: 0px 0px 10px 0px hsl(var(--heroui-primary) / var(--heroui-primary-opacity, var(--tw-text-opacity)));
    transition: all 0.5s ease-out;
    &:hover {
        box-shadow: 0px 0px 20px 0px hsl(var(--heroui-primary) / var(--heroui-primary-opacity, var(--tw-text-opacity)));
    }
}