.header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    border-bottom: 1px solid hsl(var(--nextui-foreground));

    .header-balance {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header-user {
        display: flex;
        align-items: center;

        .header-user__username {
            margin-right: 10px;
        }
    }
}