.tasks-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 0;
    height: 100%;

    .tasks-create {
        position: sticky;
        bottom: 60px;
        background: #000;
        width: 100%;

        .tasks-create-btn {
            display: inline-block;
            width: 100%;
            text-align: center;
            margin: 20px 0;
            padding: 15px;
            background: aqua;
            color: #000;
            border-radius: 3px;
        }
    }
    
    .task-list {
        max-height: 100%;
        overflow: auto;
        .task-item {
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #fff;
            border-radius: 10px;
        }
    }
}
