.tasks-page {
    .tasks-tabs {
        top: 80px;
        background: hsl(var(--nextui-background));
        max-width: 100vw;
    }

    .tasks-create {
        bottom: 60px;
        background: hsl(var(--nextui-background));
    }
}
